@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: rgb(24, 22, 18);
    --text: rgb(214, 214, 214);
    --block: rgb(17, 17, 17);
    --accent: rgb(255, 218, 116);
}

body {
    background-color: var(--background);
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;

    color: var(--text);
    font-size: calc(0.7rem + 0.7vw);
    font-family: "Kanit", serif;
}
@media (min-width: 1200px) {
    body {
      font-size: 1rem;
    }
}


h1 {
    color: var(--accent);
}

h1::before {
    content: "| ";
    color: rgba(59, 59, 59, 0.767);
}

p {
    font-size: calc(0.6rem + 1.1vw);
}
@media (min-width: 1200px) {
    p {
      font-size: 1.3rem;
    }
}

a {
    color: var(--text);
}

.block {
    background-color: var(--block);
    padding: 10px 20px;
    margin: 10px;

    border-radius: 10px;
}

.title-block {
    background-color: var(--background);

    margin-top: 20px;
}

.sub-block {
    background-color: var(--background);
    background: linear-gradient(180deg, var(--background) 70%, var(--block) 100%);

    margin: 10px 0px;
}

.footer {
    background-color: var(--background);

    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    text-align: center;
}

.quote {
    background-color: var(--block);

    padding: 10px 20px;
    margin-bottom: 20px;

    border-radius: 0px 10px 10px 0px;
    border-left: 4px solid var(--accent);
}

.quote-link {
    color: var(--accent);
    font-size: 22px;
    font-size: calc(0.5rem + 1vw);
}
@media (min-width: 1200px) {
    .quote-link {
      font-size: 1.2rem;
    }
}

.logo {
    width: 100%;
}

.image {
    width: 100%;
    border-radius: 10px;
    transition-duration: 0.1s;
}

.image:hover {
    width: 100%;
    border-radius: 10px;

    cursor: pointer;

    transform: scale(1.05, 1.05);
}

.image-zoom-parent {
    display: none;

    backdrop-filter: blur(10px);

    width: 100%;
    height: 100%;

    padding: 4vw;

    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
}

.image-zoom-container {
    width: 100%;
    height: 100%;

    padding: 4vw;

    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.image-zoom {
    max-width:100%;
    max-height:100%;
}

.image-zoom-close {
    position: fixed; 
    top: 20px;
    right: 20px;
}

.desktop-break {
    margin: 10px;
}
@media (max-width: 767px) {
    .desktop-break {
      display: none;
    }
}

.mobile-break {
    margin: 20px;
}
@media (min-width: 767px) {
    .mobile-break {
        display: none;
    }
}

.mobile-break-small {
    margin: 5px;
}
@media (min-width: 767px) {
    .mobile-break-small {
        display: none;
    }
}

.tag {
    background-color: var(--accent);

    display: inline-block;
    margin-bottom: 3px;

    padding: 0px 6px;

    color: black;

    border-radius: 5px;

    white-space: nowrap;
}

.icon-link {
    font-size: calc(1rem + 2vw);
    margin-right: 5px;
    text-decoration: none;
}
@media (min-width: 1200px) {
    .icon-link {
      font-size: 2.5rem;
    }
}

.icon-link:hover {
    color: var(--accent);
}